*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'PT Sans', sans-serif;;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.column{
    display: flex;
    flex-direction: column;
}
/* Navbar */
header{
    background-color:  #0084fd;
    color: white;
    padding: 1.5rem;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    padding-right: 0.5rem;
}
nav ul li button{
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 1px solid white;
}
/* Navbar Desktop */
@media screen and (min-width: 768px){
    nav {
        width: 60%;
        margin: 0 auto;
    };
}

/* Get a demo app */
section.demo-app{
    margin: auto;
}
section.demo-app div.card-big{
    background-color: #b5ddff;
    border-radius: 20px;
    width: 85%;
    margin: 3rem auto 2rem;
    padding: 2.5rem 2rem;
}
section.demo-app div.card-big h3{
    color:  #0084fd;
    font-size: 2rem;
    padding-bottom: 2rem;
}
section.demo-app div.card-big p{
    color: darkgray;
    font-size: 1.2rem;
    padding-bottom: 2rem;
}
section.demo-app div.card-big button{
    background-color:  #0084fd;
    color: white;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    border: 1px solid #0084fd;
    width: 85%;
}
section.demo-app div.card-big img{
    width: 300px;
    height: 300px;
    position: relative;
    top: 44px;
    left: 10px;
}
section.demo-app div.cards{
    background-color: #b5ddff;
    border-radius: 20px;
    width: 85%;
    margin: 3rem auto 2rem;
    text-align: center;
}
section.demo-app div.cards h3{
    color: #0084fd;
    font-size: 2rem;
    padding-bottom: 2rem;
}
section.demo-app div.cards p{
    color: darkgray;
    font-size: 1.2rem;
    padding-bottom: 2rem;
}
.logo{
    font-size: 4rem;
    padding: 2rem;
    color: #0084fd;
}

/* Get a demo Tablet */
@media screen and (min-width: 481px) {
    section.demo-app div.card{
        width: 100%;
    }
    .column{
        flex-direction: row;
        align-items: stretch;
        gap: 2rem;
    }
    section.demo-app{
        display: flex;
        flex-wrap: wrap;
    }
    section.demo-app div.card-big{
        width: calc((100% / 3) * 2);
    }
    section.demo-app div.row{
        width: 90%;
        display: flex;
        gap: 0.5rem;
        margin: 0 auto;
    }
    section.demo-app div.cards{
        width: calc(100% / 3);
    }
}
/* Get a Demo Desktop */
@media screen and (min-width: 768px){
    section.demo-app{
        width: 60%;
    }
    .text{
        width: 50%;
    }


}






/* Strategic planning */

section.sps{
    background-color: #9593e6;
    padding: 1.5rem;
    margin: auto;
    color: white;
}
section.sps img{
    width: 75%;
    margin: 2rem 1rem;
}
section.sps h2{
    margin: 2rem 0;
}
section.sps div.card-sps{
    background-color: white;
    width: 95%;
    color: black;
    border-radius: 35px;
    margin: 2rem auto;
    text-align: center;
}
section.sps div.card-sps h4{
    font-size: 1.5rem;
    margin: 1rem auto;
}
section.sps div.card-sps p{
    margin: 1rem;
    font-size: 1.4rem;
}
.sl{
    background-color: #9593e6;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0.8rem;
    margin: 2rem;
}
/* Strategic planning Tablet */

@media screen and (min-width: 481px){
    section.sps h2{
        font-size: 3.2rem;
    }
}
/* Strategic Planning Desktop */
@media screen and (min-width:768px) {
    section.sps{
        display: flex;
    }
    section.sps div.main-sps{
        width: 60%;
        display: flex;
        margin: 0 auto;
    }
    section.sps div.card-sps{
        position:relative;
        top:50px;
    }
    section.sps div.card-sps p{
        font-size: 1rem;        
    }
    section.sps div.card-sps img{
        width: 250px;
        height: 250px;
    }
}
/* Testimonial */

section.testimonials{
    margin: 0 auto;
    width: 85%;
}
section.testimonials div.titole{
    margin: 2rem 0 1.5rem;
    text-align: center;
}
section.testimonials h2{
    margin-bottom: 1.5rem;
    color: #9593e6;
    font-size-adjust: 0.5;
}
section.testimonials p{
    padding: 1rem;
}

section.testimonials div.test-1{
    background-color: #9593e6;
    color: white;
    border-radius: 40px;
    text-align: center;
    margin-bottom: 3rem;
}
section.testimonials div.test-1 h4{
    font-size: 1.8rem;
    padding-bottom: 2rem;
}
section.testimonials div.test-1 img{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    margin: 2rem auto;
}
/* Testimonials Tablet */
@media screen and (min-width: 481px){
    section.testimonials div.test-1 {
        display: flex;        
    }
    section.testimonials div.test-1 img{
        margin: 1rem;
    }
    section.testimonials h2{
        font-size: 2.5rem;
        text-align: center;
    }
    section.testimonials p{
        margin-top: 3rem;
        text-align: center;
    }
    section.testimonials div.test-1 div.second{
        text-align: left;
    }
    section.testimonials h4{
        text-align: left;
    }
}
@media screen and (min-width: 768px){
    section.testimonials{
        width: 60%;
    }
}
/* Benefits to work whit us */
section.benefits{
    background-color: #9593e6;
    margin: 0 auto;
    padding-bottom: 2rem;
}
section.benefits h2{
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    color: white;
}
section.benefits div.card{
    background-color: white;
    color: #9593e6;
    margin: 0 auto;
    margin-bottom: 2rem;
    border-radius: 20px;
    width: 90%;
}
section.benefits div.card .content{
    padding: 2rem 1.5rem;
}
section.benefits div.card .content h3{
    font-size: 3rem;
}
section.benefits div.card .content h4{
    font-size: 2rem;
    padding-top: 2rem;
}
section.benefits div.card .content p{
    color: black;
    padding: 2rem 0;
}
section.benefits div.card .content button{
    background-color: #9593e6;
    padding: 0.5rem;
    color: white;
    border-radius: 25px;
    border: 1px solid #9593e6;
    width: 50%;
}
/* Benefits Tablet */
@media screen and (min-width: 481px){
    section.benefits .row2{
        display: flex;
    }
    section.benefits div.card{
        width: calc((100% / 2) - 1.5rem);
    }
    section.benefits div.card .content button{
        width: calc(100% / 3);
    }
}
/* Benefits Deskotp */
@media screen and (min-width: 768px){
    section.benefits div.card{
        width: calc((100% / 3) - 1.5rem);
    }
}
/* About Us */
section.about{
    margin: 0 auto;
    width: 85%;
}
section.about h3{
    color: #9593e6;
    padding: 1.5rem 0;
    font-size: 2.5rem;
}
section.about p{
    padding-bottom: 1.5rem;
}
section.about img{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    margin: 2rem auto;
}
section.about h4{
    color: #9593e6;
    font-size: 1.8rem;
    padding-bottom: 1.5rem;
}
section.about button{
    background-color: #9593e6;
    border-radius: 25px;
    color: white;
    border: 1px solid #9593e6;
    padding: 0.5rem;
    width: 45%;
    margin-bottom: 5rem;
}
/* About Us Tablet */
@media screen and (min-width: 481px){
    section.about{
        display: flex;
        margin-top: 3rem;
    }
    section.about div.col{
        width: 60%;
        margin-right: 3rem;
    }
    section.about div.col1{
        width: 30%;
    }
    section.about button{
        width: 80%;
    }
    section.about h4{
        font-size: 1.5rem;
    }
}
/* About Us Desktop */
@media screen and (min-width: 768px){
    section.about{
        width: 60%;
    }
}

/* Get started */
section.get-started{
    background-color: #9593e6;
    margin: 0 auto;
    padding: 3rem;
    text-align: center;
    color: white;
}
section.get-started h5{
    color: lightgrey;
    font-family: sans-serif;
    padding-bottom: 1rem;
}
section.get-started h3{
    color: white;
    padding-bottom: 1rem;
    font-family: sans-serif;
    font-size: 2rem;
}
section.get-started h2{
    color: orange;
    font-size: 3rem;
    padding-bottom: 1rem;
}
section.get-started p{
    padding-bottom: 1rem;
    font-size: 1.12rem;
}
section.get-started button{
    color:#9593e6;
    background-color: white;
    border-radius: 25px;
    padding: 1rem 2rem;
    margin: 1.5rem;
    border: 1px solid white;
    width: 80%;
}
/* Get Started Tablet */
@media screen and (min-width: 481px){
    section.get-started p{
        width:50%;
        margin: 0 auto;
    }
    section.get-started button{
        width: 40%;
        margin: 0 auto;
    }
}
/* Footer */
footer{
    background-color: #1c1d1d;
    color: white;
    margin:0 auto;
    text-align: center;
}
footer p{
    padding: 2.5rem 0;
    width: 90%;
    margin: 0 auto;
}
/* Footer Tablet */
@media screen and (min-width: 481px){
    footer p{
        width: 50%;
    }
}