*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'PT Sans', sans-serif;;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.column{
    display: flex;
    flex-direction: column;
}
/* Navbar */
nav{
    background-color: #3d3dfb;
    color: white;
    padding: 1.5rem;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    padding-right: 0.5rem;
}
nav ul li button{
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 1px solid white;
}

/* Get a demo app */
section.demo-app{
    margin: auto;
}
section.demo-app div.row-big{
    background-color: lightblue;
    border-radius: 20px;
    width: 85%;
    margin: 3rem auto 2rem;
    padding: 2.5rem 2rem;
}
section.demo-app div.row-big h3{
    color: blue;
    font-size: 2rem;
    padding-bottom: 2rem;
}
section.demo-app div.row-big p{
    color: darkgray;
    font-size: 1.2rem;
    padding-bottom: 2rem;
}
section.demo-app div.row-big button{
    background-color: #3d3dfb;
    color: white;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    border: 1px solid #3d3dfb;
    width: 85%;
}
section.demo-app div.row-big img{
    width: 200px;
    height: 200px;
}
section.demo-app div.row{
    background-color: lightblue;
    border-radius: 20px;
    width: 85%;
    margin: 3rem auto 2rem;
    text-align: center;
}
section.demo-app div.row h3{
    color: blue;
    font-size: 2rem;
    padding-bottom: 2rem;
}
section.demo-app div.row p{
    color: darkgray;
    font-size: 1.2rem;
    padding-bottom: 2rem;
}
.logo{
    font-size: 4rem;
    padding: 2rem;
    color: blue;
}
@media screen and (min-width: 480px) {
    section.demo-app div.row{
        width: 100%;
    }
}


/* Strategic planning */

section.sps{
    background-color: #9593e6;
    padding: 1.5rem;
    margin: auto;
    color: white;
}
section.sps img{
    width: 75%;
    margin: 2rem 1rem;
}
section.sps h2{
    margin: 2rem 0;
}
section.sps div.card-sps{
    background-color: white;
    width: 95%;
    color: black;
    border-radius: 35px;
    margin: 2rem auto;
    text-align: center;
}
section.sps div.card-sps h4{
    font-size: 1.5rem;
    margin: 1rem auto;
}
section.sps div.card-sps p{
    margin: 1rem;
}
.sl{
    background-color: #9593e6;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0.8rem;
    margin: 2rem;
}
/* Testimonial */

section.testimonials{
    margin: 0 auto;
    width: 85%;
}
section.testimonials div.titole{
    margin: 2rem 0 1.5rem;
    text-align: center;
}
section.testimonials h2{
    margin-bottom: 1.5rem;
    color: #9593e6;
    font-size-adjust: 0.5;
}
section.testimonials p{
    padding: 1rem;
}

section.testimonials div.test-1{
    background-color: #9593e6;
    color: white;
    border-radius: 40px;
    text-align: center;
    margin-bottom: 3rem;
}
section.testimonials div.test-1 h4{
    font-size: 1.8rem;
    padding-bottom: 2rem;
}
section.testimonials div.test-1 img{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    margin: 2rem auto;
}

/* Benefits to work whit us */
section.benefits{
    background-color: #9593e6;
    margin: 0 auto;
    padding-bottom: 2rem;
}
section.benefits h2{
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    color: white;
}
section.benefits div.card{
    background-color: white;
    color: #9593e6;
    margin: 0 auto;
    margin-bottom: 2rem;
    border-radius: 20px;
    width: 90%;
}
section.benefits div.card .content{
    padding: 2rem 1.5rem;
}
section.benefits div.card .content h3{
    font-size: 3rem;
}
section.benefits div.card .content h4{
    font-size: 2rem;
    padding-top: 2rem;
}
section.benefits div.card .content p{
    color: black;
    padding: 2rem 0;
}
section.benefits div.card .content button{
    background-color: #9593e6;
    padding: 0.5rem;
    color: white;
    border-radius: 25px;
    border: 1px solid #9593e6;
    width: 50%;
}
/* About Us */
section.about{
    margin: 0 auto;
    width: 85%;
}
section.about h3{
    color: #9593e6;
    padding: 1.5rem 0;
    font-size: 2.5rem;
}
section.about p{
    padding-bottom: 1.5rem;
}
section.about img{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    margin: 2rem auto;
}
section.about h4{
    color: #9593e6;
    font-size: 1.8rem;
    padding-bottom: 1.5rem;
}
section.about button{
    background-color: #9593e6;
    border-radius: 25px;
    color: white;
    border: 1px solid #9593e6;
    padding: 0.5rem;
    width: 45%;
    margin-bottom: 5rem;
}

/* Get started */
section.get-started{
    background-color: #9593e6;
    margin: 0 auto;
    padding-top: 3rem;
    text-align: center;
    color: white;
}

section.get-started h5{
    color: grey;
    font-family: sans-serif;
    padding-bottom: 1rem;
}
section.get-started h3{
    color: white;
    padding-bottom: 1rem;
    font-family: sans-serif;
}
section.get-started h2{
    color: orange;
    font-size: 5rem;
    padding-bottom: 1rem;
}
section.get-started p{
    padding-bottom: 1rem;
}
section.get-started button{
    color: blueviolet;
    background-color: white;
    border-radius: 25px;
    padding: 1rem 2rem;
    margin: 1.5rem;
    border: 1px solid white;
}

/* Footer */
footer{
    background-color: black;
    color: white;
    margin:0 auto;
    text-align: center;
}
footer p{
    padding: 1.5rem 0;
}