*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
    justify-content: space-between;
}

/* Navbar */
nav{
    background-color: #3d3dfb;
    color: white;
    padding: 1.5rem;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    padding-right: 0.5rem;
}
nav ul li button{
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 1px solid white;
}

/* Get a demo app */
section.demo-app{
    margin: auto;

}
section.demo-app div.row{
    height: 250px;
    background-color: #3d3dfb;
    border-radius: 20px;
    width: 85%;
    margin: 3rem auto 2rem;
}

@media screen and (min-width: 480px) {
    section.demo-app div.row{
        width: 100%;
    }
}


/* Strategic planning */

section.sps{
    background-color: blueviolet;
    padding: 1.5rem;
    margin: auto;

}

/* Testimonial */

section.testimonials{
    margin: 0 auto;
    width: 85%;
}
section.testimonials div.titole{
    margin: 2rem 0 1.5rem;
    text-align: center;
}
section.testimonials h2{
    margin-bottom: 1.5rem;
    color: purple;
    font-size-adjust: 0.5;
}
section.testimonials p{
    padding: 1rem;
}
section.testimonials div.test-1 h4{
    text-align: center;
}
section.testimonials div.test-1{
    width: 90%;
    background-color: purple;
    color: white;
    height: 180px;
    border-radius: 15px;
    margin-bottom: 2rem;
}

/* Benefits to work whit us */

